
<br><br>

<div class="page-heading about-page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="inner-content">
                    <div class="carousel-item active fade-in" >
                        <img src="https://images.pexels.com/photos/1103063/pexels-photo-1103063.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="d-block w-1000" alt="Image 1" />
                        <div class="overlay">
                            <h2 style="color: aliceblue;">About Our Company</h2>
                            <span style="color: aliceblue;">"We are a leading clothing brand specializing in fashion-related products. Our company is dedicated to providing high-quality apparel and accessories to customers worldwide."</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    <img src="https://images.pexels.com/photos/5120085/pexels-photo-5120085.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <h4>About Us &amp; Our Skills</h4>
                    <span>"At our company, we pride ourselves on our expertise and skills in the fashion industry."</span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p>                    <span>"At our company, we pride ourselves on our expertise and skills in the fashion industry.</span>
                        </p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>
<section class="our-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    
                    <h2>Our Amazing Team</h2>
                    <span> "Meet our amazing team of talented individuals who work tirelessly to bring our vision to life. From designers to marketers, each member plays a crucial role in ensuring the success of our brand."</span><br>
                </div>
            </div><br>
            <div class="col-lg-4">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <img src="https://images.pexels.com/photos/2467506/pexels-photo-2467506.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1g">
                    </div>
                    <div class="down-content">
                        <h4>Ragnar </h4>
                        <span>Design Team</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <img src="https://images.pexels.com/photos/7915389/pexels-photo-7915389.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                    </div>
                    <div class="down-content">
                        <h4>Tagnar</h4>
                        <span>Design Team</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <img src="https://images.pexels.com/photos/1595386/pexels-photo-1595386.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                    </div>
                    <div class="down-content">
                        <h4>Fagnar </h4>
                        <span>Design Team</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<br><br>
<section class="our-services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2>Our Services</h2>
                  
                </div>
            </div><br>
            <div class="col-lg-4">
                <div class="service-item">
                    <h4>Synther Vaporware</h4>
                    <p>Lorem ipsum dolor sit amet, consecteturti adipiscing elit, sed do eiusmod temp incididunt ut labore, et dolore quis ipsum suspend.</p>
                    <img src="https://images.pexels.com/photos/14411028/pexels-photo-14411028.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item">
                    <h4>Locavore Squidward</h4>
                    <p>Lorem ipsum dolor sit amet, consecteturti adipiscing elit, sed do eiusmod temp incididunt ut labore, et dolore quis ipsum suspend.</p>
                    <img src="https://images.pexels.com/photos/8905109/pexels-photo-8905109.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service-item">
                    <h4>Health Gothfam</h4>
                    <p>Lorem ipsum dolor sit amet, consecteturti adipiscing elit, sed do eiusmod temp incididunt ut labore, et dolore quis ipsum suspend.</p>
                    <img src="https://images.pexels.com/photos/18536349/pexels-photo-18536349/free-photo-of-children-huddling-over-table.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

