
<header>
    <div style="background-color: rgb(0, 0, 0); color: azure;">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark-100">
            <div class="container">
                <div class="w-25 h-25">
                    <a class="navbar-brand" >
                        <img src="https://static.vecteezy.com/system/resources/previews/023/599/258/original/diesel-brand-logo-symbol-with-face-white-design-luxury-clothes-fashion-illustration-with-black-background-free-vector.jpg" alt="Logo" width="90" />
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link" (click)="gotohome()" style="color: azure;"><i>HOME</i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="gotomen()" style="color: azure;"><i>MEN</i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="gotowomen()" style="color: azure;"><i>WOMEN</i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="gotoabout()" style="color: azure;"><i>ABOUT</i></a>
                        </li>
                    </ul>
                </div>
                <!-- <div>
                    <input type="text" placeholder="Search products" [(ngModel)]="searchTerm" (input)="searchProducts()">
                    <button (click)="searchProducts()">Search</button>
                  </div> -->
                <div class="nav-item ml-auto" > 
                    <a class="btn btn-white" (click)="gotowish()">
                        <i class="fa fa-heart" style="font-size: 24px; color: rgb(255, 248, 248);"></i>
                        <span *ngIf="wishlistCount > 0" class="badge badge-pill badge-danger">{{ wishlistCount }}</span>
                    </a>
                    <a class="btn btn-white" (click)="gotocart()">
                        <i class="fa fa-shopping-cart" style="font-size: 24px; color: rgb(255, 247, 247);"></i>
                        <span *ngIf="cartCount > 0" class="badge badge-pill badge-danger">{{ cartCount }}</span>
                    </a>
                    
                </div>
                
            </div>
        </nav>
        
        
        






        <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display: none" id="mySidebar">
    style="display: none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close
    </a>
    <a href="home.html" onclick="w3_close()" class="w3-bar-item w3-button">Home</a>
    <a href="contact.html" onclick="w3_close()" class="w3-bar-item w3-button">Contact</a>
    <a href="help.html" onclick="w3_close()" class="w3-bar-item w3-button">Any Help</a>
    <a href="review.html" onclick="w3_close()" class="w3-bar-item w3-button">Review</a>
</nav>
    </div>
</header>



<br><br><br><br>

<router-outlet></router-outlet>



<br><br>
<div class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="section-heading">
                    <h2>By Subscribing To Our Newsletter You Can Get 30% Off</h2>
                    <span>Details to details is what makes Desal different from the other.</span>
                </div>
                <form id="subscribe" action="" method="get">
                    <div class="row">
                      <div class="col-lg-5">
                        <fieldset>
                          <input name="name" type="text" id="name" placeholder="Your Name" required="">
                        </fieldset>
                      </div>
                      <div class="col-lg-5">
                        <fieldset>
                          <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email Address" required="">
                        </fieldset>
                      </div>
                      <div class="col-lg-2">
                        <fieldset>
                          <button type="submit" id="form-submit" class="main-dark-button"><i class="fa fa-paper-plane"></i></button>
                        </fieldset>
                      </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li style="color: azure;">Store Location:<br><span>Near Calicut Beach, FL 33160, India</span></li>
                            <li style="color: azure;">Phone:<br><span>010-020-0340</span></li>
                            <li style="color: azure;">Office Location:<br><span> Calicut Beach</span></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li style="color: azure;">Work Hours:<br><span>07:30 AM - 9:30 PM Daily</span></li>
                            <li style="color: azure;">Email:<br><span>info@company.com</span></li>
                            <li style="color: azure;">Social Media:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">Behance</a>, <a href="#">Linkedin</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>