
<div class="circle-container">
    <div class="row">
        <div class="col"></div>
        <div class="col-2">
            <div class="circle shirt" (click)="gotokurti()">
                <span>kurti</span>
            </div>
        </div>
        <div class="col-2" >
            <div class="circle shirt" (click)="gotosaree()">
                <span>saree</span>
            </div>
        </div>
        <div class="col-2">
            <div class="circle shirt" (click)="gotoleggings()">
                <span>leggings</span>
            </div>
        </div>
        <div class="col-2">
            <div class="circle shirt" (click)="gotochuridar()">
                <span>churidar</span>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>





<br>
<div class="sty">
<h1>New Arrival</h1>

  <span>"Women's fashion is a dynamic and ever-evolving landscape, where trends and styles continuously redefine the essence of elegance and sophistication. From timeless classics to avant-garde designs, women's clothing brands curate a diverse array of options to cater to every individual's unique taste and personality. These brands not only offer garments that exude charm and grace but also embody empowerment and confidence. Whether it's the iconic designs of Chanel, the bohemian chic of Free People, or the contemporary allure of Zara, each brand tells a story of creativity and innovation. Women's dressing transcends mere fabric and thread; it's a form of self-expression and empowerment, allowing individuals to showcase their inner beauty and strength through the artistry of fashion."</span>
</div>
  <div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="image-container">
        <img src="https://cdn0.weddingwire.in/article/1637/3_2/960/jpg/57361-churidar-design-images-dreamboxcreations-lead.jpeg" alt="Image 1" (click)="gotokurti()">
      </div>
    </div>
    <div class="col-md-4">
      <div class="image-container">
        <img src="https://i.pinimg.com/600x315/81/ac/26/81ac2666887192f048f2e908361cd158.jpg" alt="Image 2" (click)="gotosaree()">
      </div>
    </div>
    <div class="col-md-4">
      <div class="image-container">
        <img src="https://www.swadeshiboutique.com/cdn/shop/products/61026A_grande.jpg?v=1622196707" alt="Image 3" (click)="gotosaree()">
      </div>
    </div>
  </div>
</div>
